
.CardBorder {
  border-radius: 15px;
  filter: drop-shadow(2px 6px 10px #00000044);
  padding: 9px 10px 9px 10px;
}

.Card {
  font-family: var(--font-base);
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
  padding: 1rem;
}

@screen md {
  .CardBorder{
    padding: 20px 24px 20px 24px;
  }
  .Card{
    font-size: 30px;
  }
}

@screen lg {
  .CardBorder{
    padding: 48px 32px 48px 32px;
  }
  .Card{
    font-size: 40px;
  }
}


  
  